
.vs/CrapsGame/v15/Server/sqlite3/storage.ide-wal
.vs/CrapsGame/v15/Server/sqlite3/storage.ide-shm
.vs/CrapsGame/v15/Server/sqlite3/storage.ide
.vs/CrapsGame/v15/Server/sqlite3/db.lock
.vs/CrapsGame/v15/.suo
.vs/CrapsGame/DesignTimeBuild/.dtbcache
